# Local .terraform directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Variable files
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Kubernetes configuration files
kubeconfig*
